.frame {
    width: 80vw;
    margin-left: 10vw;
    height: 40vw;
    border: 0.4vw solid rgb(150, 150, 150);
    position: relative;
    border-radius: 10vw;
    background-color: rgb(250, 250, 250);
}

.frame__image {
    width: 50vw;
    height: 28vw;
    margin-left: 15vw;
    margin-top: 5vw;
    position: absolute;
    border-radius: 1vw;
}

.frame__image_size_max {
    max-height: 100%;
    max-width: 100%;
}

.frame__image {
    display: none;
}

.frame__label_img_1,
.frame__label_img_2,
.frame__label_img_3 {
    display: none;
}

.frame__input_img_1 {
    position: absolute;
    bottom: 0;
    left: 35vw;
}

.frame__input_img_2 {
    position: absolute;
    bottom: 0;
    left: 40vw;
}

.frame__input_img_3 {
    position: absolute;
    bottom: 0;
    left: 45vw;
}


.frame__input:checked+.frame__image {
    display: block;
}


.frame__input:checked+.frame__image+.frame__label {
    display: block;
    content: "";
    width: 0vw;
    height: 0vw;
    border-bottom: 4vw solid transparent;
    border-left: 4vw solid transparent;
    border-right: 4vw solid rgb(100, 100, 100);
    border-top: 4vw solid transparent;
    position: absolute;
    top: 15vw;
}

.frame__input:checked+.frame__image+.frame__label+.frame__label {
    display: block;
    content: "";
    width: 0vw;
    height: 0vw;
    border-bottom: 4vw solid transparent;
    border-left: 4vw solid rgb(100, 100, 100);
    border-right: 4vw solid transparent;
    border-top: 4vw solid transparent;
    position: absolute;
    top: 15vw;
    right: 0;
}
