.spiner {
    width: 250px;
    height: 250px;
    margin: 100px;
    position: absolute;
}

.blade {
    width: 80px;
    height: 150px;
    background-color: rgb(200, 0, 0);
    border: 5px solid ;
    border-radius: 50px 50px 50px 50px;
    position: absolute;
}

#_1 {
}

#_2 {
    transform: rotate(120deg);
    top: 100px;
    left: 50px;
}

#_3 {
    top: 100px;
    left: -50px;
    transform: rotate(-120deg);

}

/*#_2:before {*/
/*content: "";*/
/*display: block;*/
/*width: 85px;*/
/*height: 85px;*/
/*border-radius: 80px;*/
/*background-color: rgb(200, 0, 0);*/
/*position: absolute;*/
/*top: -10px;*/
/*left: -2px;*/
/*}*/