body {
    background-color: rgb(240, 240, 240);
    font-family: 'Roboto', sans-serif;
    width: 80%;
    margin: auto;
    padding: 10px;
}

#personal {
    border-left: solid rgb(200, 22, 22) 1.5px;
    border-bottom: solid rgb(200, 22, 22);
    height: 250px;
}

h2 {
    font-family: 'Poiret One', cursive;
}

div {
    padding-left: 10px;
}

ul {
    list-style-type: circle;
}

.left {
    float: left;
    margin: 0px 10px 10px 0px;
}

p.indent {
    text-indent: 30px;
}
