.right {
    float: right;
}

.clear {
    clear: both;
    width: 24px;
    overflow: hidden;
}

.left {
    float: left;
}

.shift_right {
    margin-right: -16px;
}

.shift_left {
    margin-right: 8px;
}
